

#section1 {color: #20B2AA; visibility: hidden; position: absolute; top: 350px; width: 600px; background: #FFB6C1;}

#section2 {color: #20B2AA; visibility: hidden; position: absolute; top: 350px; width: 600px; background: #9370DB;}

#section3 {color: #20B2AA; visibility: hidden; position: absolute; top: 350px; width: 600px; background: #FFFF00;}
