#orderdisplay {background-color: #FFFFCC; }

#section1 {color: #20B2AA; visibility: hidden; position: absolute; top: 200px; width: 600px;}

#section2 {color: #20B2AA; visibility: hidden; position: absolute; top: 200px; width: 600px;}

#Section3 {color: #20B2AA; visibility: hidden; position: absolute; top: 200px; width: 600px;}


