
h1 {font-family: sans-serif; text-align: center; }

#section1 {color: #20B2AA; visibility: hidden; position: absolute; top: 475px; width: 600px; background: #FFB6C1;}

#section2 {color: #20B2AA; visibility: hidden; position: absolute; top: 475px; width: 600px; background: #9370DB;}

#section3 {color: #20B2AA; visibility: hidden; position: absolute; top: 475px; width: 600px; background: #FFFF00;}

.div1 {background-color: #ff1493; }

.div2 {background-color: #9400D3;}

.div3 {background-color: #90EE90; color: #20B2AA;}
 

