section.section1 {color: #20B2AA; visibility: hidden; position: absolute; top: 110px;}

section.section2 {color: #20B2AA; visibility: hidden; position: absolute; top: 110px;}

#assignment4pic1{position: absolute; width: 600px; height: 200px;}

#assignment4pic2{position: fixed; width: 600px; height: 200px;}

.footer { position:absolute; top:360px; }

