
h1 {font-family: sans-serif; text-align: center; width: 300px; }

#section1 {visibility: hidden; position: absolute; top: 900px; width: 300px; background: #FFB6C1;}

#section2 {visibility: hidden; position: absolute; top: 900px; width: 300px; background: #9370DB;}

#section3 {visibility: hidden; position: absolute; top: 900px; width: 300px; background: #FFFF00;}

#section4 {visibility: hidden; position: absolute; top: 900px; width: 300px; background: #FFFF00;}

#section5 {visibility: hidden; position: absolute; top: 900px; width: 300px; background: #90EE90;}

.div1 {background-color: #ff1493; width: 300px;}

.div2 {background-color: #9400D3; width: 300px;}

.div3 {background-color: #90EE90; width: 300px;}
 
 